/* Global */

body {
	font-family: 'Open Sans', sans-serif, 微軟正黑體;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a {
	color: #333333;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #999999;
	text-decoration: none;
}
/*
a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
*/

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:100%; 
	background-color:#333333;
	z-index:100;
}

.menu a {
	color: #FFFFFF;
}
.menu a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.menu a:hover {
	color: #BBBBBB;
	text-decoration: none;
}

.drop-down{
	height:90%;
}
.roll-up{
	height:150px;
}

#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	float: right;
	text-align: right;
	margin: 30px 0 0 0;
}
.upper-menu{
	width: 100%;
	height: 30%;
}
.navi{
	float: left;
	list-style: none;
	margin: 0;
}
.navigation{
	float: right;
	list-style: none;
	font-size: 1.15em;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 20px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}

#ch-name{
	margin:0;
	padding:0;
}
.large{
	font-size: 110px;
}
.small{
	font-size: 70px;
}
#name{
	margin: 0;
}
#name h2{
	padding-left: 28px;
	margin-top: -15px;
} 
.img-none{
	display: none;
}
.profile-img-large{
	margin: 0 auto;
	width: 40%;
}
.profile-img-small{
	float: left;
	margin: 0;
	width: 12%;
}

/* Arrow */
#arrow{
	margin: 0 auto;
	width: 10%;	
}
#arrow:hover{
	margin: 0 auto;
	cursor: pointer;
	width: 12%;	
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

.transparent{
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);
	/* Netscape */
	-moz-opacity: 1.0;
	/* Safari 1.x */
	-khtml-opacity: 1.0;
	/* Good browsers */
	opacity: 1.0;
}

.non-transparent{
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);
	/* Netscape */
	-moz-opacity: 1.0;
	/* Safari 1.x */
	-khtml-opacity: 1.0;
	/* Good browsers */
	opacity: 1.0;
}

.blur{
	-webkit-filter: blur(8px) contrast(0.4) brightness(1.4);
}

.full-height{
	height: 100%;
}

.shadow{
	box-shadow: 0px 1px 5px #333333;
	-moz-box-shadow: 0px 1px 5px #333333;
	-webkit-box-shadow: 0px 1px 5px #333333;
}
.shadow-light{
	box-shadow: 0px 0px 3px #AAAAAA;
	-moz-box-shadow: 0px 0px 3px #AAAAAA;
	-webkit-box-shadow: 0px 0px 3px #AAAAAA;
}
/* Slide 1 */ 

#slide1{
	height: 5px;
	padding: 0 0;
	background-color:#ffffff;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 2 */ 

#slide2{
	height: auto;
	background-image:url('../images/blueprint-low-grey.jpg');
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#DDDDDD;
	color:#333333;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#333333;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #333333;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

.content-s2{
	padding-top: 120px;
}
.exp-container-frame{
	width: 100%;
	height: 100%;
}
.exp-frame{
	float: left;
	background-color: #EEEEEE;
	margin: 10px 1% 10px 1%;	
	padding: 5px 0 30px 0;
	width: 23%;
	height: auto;
}
.exp-img-frame{
	width: 80%;
	margin: 20px 10% 5px 10%;
}
.exp-img{
	width: 100%;
}
.exp-list{
	list-style: none;	
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 0 0;
}
.exp-list li{
	/*padding: 2px 5px 2px 5px;*/
}
.exp-org{
	font-size: 1.1em;
	font-weight: 800;
}
.exp-time{
	color: #BBBBBB;
}
.exp-title{
	width: 100%;
}
.exp-content{
	width: 100%;
}
.exp-col1{
	float: left;
	width: 15%;
	padding: 2px 0px 2px 0px;
}
.exp-col2{
	float: left;
	text-align: left;
	width: 83%;
	padding: 2px 2% 2px 0;
}
/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#333333;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #333333;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

.content-s3{
	padding-top: 120px;
}
.pro-container-frame{
	width: 100%;
	height: 100%;
}
.pro-frame{
	float: left;
	background-color: #EEEEEE;
	margin: 10px 1% 10px 1%;	
	padding: 5px 0 30px 0;
	width: 31%;
	height: auto;
}
.pro-img-frame{
	width: 80%;
	margin: 20px 10% 5px 10%;
}
.pro-img{
	width: 100%;
}
.pro-list{
	list-style: none;	
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 0 0;
}
.pro-list li{
	/*padding: 2px 5px 2px 5px;*/
}
.pro-org{
	font-size: 1.1em;
	font-weight: 800;
}
.pro-time{
	color: #BBBBBB;
}
.pro-title{
	width: 100%;
}
.pro-content{
	width: 100%;
}
.pro-col1{
	float: left;
	width: 15%;
	padding: 2px 0px 2px 0px;
}
.pro-col2{
	float: left;
	text-align: left;
	width: 83%;
	padding: 2px 2% 2px 0;
}


/* Slide 4 */

#slide4{
	height: auto;
	background-image:url('../images/publication.png');
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFFFFF;
	color:#333333;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#333333;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #333333;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
.content-s4{
	padding-top: 120px;
}

/* Slide 5 */

#slide5{
	background-color:#ffffff;
}
#slide5 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#333333;
	font-weight: 700;
}
#slide5 h2 {
	font-size: 2em;
	color: #333333;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
.content-s5{
	padding-top: 120px;
}



/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.large{
	font-size: 80px;
}
.small{
	font-size: 30px;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:20%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;	
}

.exp-frame{
	float: left;
	background-color: #EEEEEE;
	margin: 10px 2.5% 10px 2.5%;
	width: 45%;
	height: auto;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
#slide5 h1 {
	line-height: 1em;
}
#slide5 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:20%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

.exp-frame{
	float: left;
	background-color: #EEEEEE;
	margin: 10px 2.5% 10px 2.5%;
	width: 95%;
	height: auto;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
#slide5 h1 {
	line-height: 1em;
}
#slide5 h2 {
	line-height: 1em;
}

}




